<!DOCTYPE html>
<html ng-app="iaw">

  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script data-require="bootstrap@*" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body ng-controller="contactListController">
  <div>
  <div class="navbar navbar-default" style="background-color: dodgerBLue; border: none; margin-bottom: 0px;">
	  <div class="navbar-header pull-right" style="text-align: center;">
      <a class="nav-brand" href="#">Title Here</a>
    </div>
    <div class="navbar-header pull-left" style="display: inline-block">
      <div class="nav-button">
        Campañas
      </div>
      <div class="nav-button active">
        Contactos
      </div>
  	</div>
  </div>

  <div class="container">
    <h1>Lista de Contactos</h1>
      <table id="item-list" class="table table-striped" style="margin: 10px 20px">
        <tbody>
          <thead>
          <tr class="table-header">
            <th>Nombre</th>
            <th>Mail</th>
            <th>Teléfono</th>
            <th>Tags</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tr ng-repeat="contact in contacts">
            <td>{{contact.name}}</td>
            <td>{{contact.mail}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.tag}}</td>
            <td>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-pencil button" ng-click=""></i>
                <i class="glyphicon glyphicon-remove button" ng-click="deleteContactItem(contact)"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <input placeholder="Nombre" type="text" id="new-name" ng-model="newName" />
            </td>
            <td>
              <input placeholder="Correo" type="text" id="new-mail" ng-model="newMail" />
            </td>
            <td>
              <input placeholder="Telefono" type="phone" id="new-phone" ng-model="newPhone" />
            </td>
            <td>
              <input placeholder="Tag" type="text" id="new-tag" ng-model="newTag" />
            </td>
            <td>
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-plus button" id="add-button" ng-click="addContact(newName,newMail,newPhone,newTag)"></i>
              </div>
              
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
  </body>

</html>
