<div style="padding-bottom: 10px;">
  <h1>Nueva Campaña</h1>
    <label>Nombre: *</label>
    <input class="form-control" type="text" id="new-name" ng-model="newcampaign.name" style="margin-bottom: 10px"/>

    <label>Remitente: *</label>
    <input class="form-control" type="phone" id="new-mail" ng-model="newcampaign.mail" style="margin-bottom: 10px"/>
    
    <label>Cuerpo de correo:</label>
    <summer-note id="summernote" ng-model="newBody"></summer-note>
</div>
    
<button class="btn btn-default" style="float: left" ui-sref="campaigns">Cancelar</button>
<button class="btn btn-custom" style="float: right" ng-click="selectContacts()">Elegir Destinatarios</button>
<!-- <button class="btn btn-custom" style="float: right" ng-click="addCampaign(newName,newMail)">Elegir Destinatarios</button> -->