
.table-header {color: dodgerBlue;}

.button { color: dodgerBlue; }
.button:hover { color: cornFlowerBlue; cursor: pointer; cursor: hand;}

.nav-button {color: white; float: left;}
.nav-button:hover {color: ghostWhite; text-decoration: none; cursor: pointer; cursor: hand;}
.nav-button.active {background: white; color: dodgerBlue;}
.nav-button.active:hover {text-decoration: none;  cursor: default;}

.nav-brand {font-size: 230%; color: white; padding-right: 10px;}
.nav-brand:hover { color: ghostWhite ; text-decoration: none;}

.nav-link {
  color:white;
  font-size: 75%;
  padding-right: 5px;
}
.nav-link:hover {
  color:ghostWhite;
  cursor: pointer; cursor: hand;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.pagination li.active a {
  background-color: dodgerBlue;
  color: white;
}

.pagination li:hover:not(.active):not(.disabled) a {
  color: cornFlowerBlue;
}

.pagination li:not(.active):not(.disabled) a {
  color: dodgerBlue;
}

.pagination li:hover.active a {
  background-color: cornFlowerBlue;
}


.btn-custom { 
  color: #FFFFFF; 
  background-color: #1E90FF; 
  border-color: #357ebd; 
} 
 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #FFFFFF; 
  background-color: #6495ED; 
  border-color: #357ebd; 
}
 
.btn-custom .badge { 
  color: #1E90FF; 
  background-color: #FFFFFF; 
}


.table-select {
  background-color: ghostWhite;
  padding: 5px;
  border-radius: 5px 5px 5px 0px;
}

.add-select {
  padding: 5px;
  background-color: ghostWhite;
  border-radius: 0px 0px 5px 5px;
}

.add-unselect {
  padding: 5px;
}



